@import "./partials/reset",
        "./partials/map",
        "./partials/variables",
        "./partials/navbar",
        "./partials/imagenes",
        "./partials/animaciones",
        "./partials/minxisfunc",
        "./partials/buttons";



.btn{
    @include btn($color-primario, $color-secundario, 'true');
    &:hover{
        @include btn($color-secundario, $color-terciario, 'true');
        box-shadow: $box-shadow;
    }
}

body{
    background-color: $color-primario;
    font-family: Arial, Helvetica, sans-serif;
    
}