@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100;200;300;400;500 & display=swap');


*{
    font-family:'Poppins',sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    background-color:#1b2a4e;
    overflow-x: hidden;
}
/*menu BOOTSTRAP*/
#menu a{
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f;
}


/*Carrusel de imagenes */
.carousel-inner{
  max-height: 39rem;
  max-width: 80rem;
  padding-left: 5rem;
}
.servicio-cocina{
      width: 100%;
      text-align: center;
}

/*MEDIA QUERIES PANTALLA SM */
@media screen and (max-width:768px){
  #intro #equipo{
    width: 90%;
  }
  #equipo p {
    display: none;
  }
  .bg-sn{
    position: relative;
    top:130px;
  }
  .bg-contacto{
    position: relative;
    top:-110px;
  }

}
/*MEDIA QUERIES PANTALLA XS */
@media screen and(max-width:576px) {
    .icono-wrap{
      flex-wrap: wrap;
      justify-content: center;
    }
    .bg-sn{
      position: relative;
      top:-110px;
    }
    .bg-contacto{
      position: relative;
      top:-110px;
    }
    
}
/*MEDIA QUERIES PANTALLA ANCHA */
@media screen and (max-width:1200px){
  .local{
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .wrapper{
    width: 90%;
    margin: auto;
    padding-top:50px;
  }
}


/* SOBRE NOSOTROS */
#equipo{
  padding:15%;
}
.local{
  background:#f3f3f3;
  padding-bottom: 300px ;
  display: flex;
  justify-content: center;
}
.wrapper{
  width: 50%;
  margin-left: 50px;
  padding-top: 15px;
}
#numeros-local div{
  padding: 0 20px 0 0;
  height: 48px;

}
#numeros-local div:not(:last-child){
  border-right: 2px solid #3f3f3f;
}
#numeros-local div:not(:first-child){
  padding-left: 20px;
}
#numeros-local p {
  margin:0;
}
.bg-sn{
  position: relative;
  top:-130px;
}

.seccion-sn{
  background-color: #1b2a4e;
  min-height: 500px;
  position: relative;
}
.bg-contacto{
  position: relative;
  top:-130px;
}
.seccion-contacto{
  background-color:#1b2a4e;
  min-height: 500px;
  position: relative;
}
.mapa{
  transform: translateX(-40%);
}
/*FOOTER*/
footer{
  background-color: #1b2a4e;
  min-height: 100px;
}
footer p{
  color: #f3f3f3 ;
  text-align: center;
  transform: translateY(100%);
}
.iconos i{
  font-size: 26px;
  padding: 0 10px;
  color: #f3f3f3;

}

/*VER PRODUCTOS*/
#imagenes-productos{
  width: 80%;
  transform: translate(10%, -1%);
  transform: translateX(3%);
  transform: translateY(5%);
}
.boton{
  transform: translateY(90%);
}
/*CONTACTO*/
#contenedor-formulario{
  transform: translateY(3%);
}
.boton-enviar{
  width: 200px;
  padding-top: 450px;
  padding-left: 1px;
  transform: translate(-82%, 40%);
}
/*OPORTUNIDADES*/
#imagenes-hotsale{
  width: 80%;
  transform: translateY(40%);
  
}
.button{
  background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
  color: #ffffff;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: .25rem;
  min-width:200px;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(0, 0, .5);
  animation: pulse 1.5s infinite;
}
@keyframes pulse{
  0%{
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
  }
  7%{
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
  }
  0%{
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
  }
}
/*INDEX*/
.parrafo-animadoindex h1{
  color: #ffffff;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: .25rem;
  min-width:200px;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(0, 0, .5);
  animation: aparecer 1.5s infinite;

}
@keyframes aparecer{
  0%{
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
  }
  70%{
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
  }
  0%{
    transform: scale(.99);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
  }
}

/*CODIGO BASURA
.contenido{
    max-width:100%;
    margin:100px auto;
    margin-top: 2em;
    padding:20px;
}

.productos{
    text-align: center;
    margin: 50px;
    justify-items: center;
    box-sizing: border-box;
    color:rgb(105, 85, 173);
  }

img{
  width: 100%;
}
.imagen-p1{
  width: 80%;
  box-shadow: 0 0 14px black;
  margin-bottom: 20px;
  margin-left: 175px;
  border-radius: 1%;
}
.texto-imagenp1{
  font-size: 20px;
}
.imagen-p2{
  width: 80%;
  margin-left: 170px;
  box-shadow: 0 0 14px black;
  border-radius: 1%;
}
.texto-imagenp2{
  font-size: 20px;
}

.imagen-p3{
  width: 80%;
  box-shadow: 0 0 14px black;
  margin-left: 170px;
  margin-bottom: 20px;
  border-radius: 1%;
  }
.texto-imagenp3{
  font-size: 20px;
}

.envoltura{
  width: 50px;
  height: 50px;
  perspective: 700px;
  margin: 0px 15px;
  display: inline-block;
  /*transform: translateY(-35%);
  transform: translateX(-100%);*/

/*.cubo{
  position: relative;
  display:inline-block;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateY(35deg) rotateX(-38deg);
  transition: 3000ms;
  transition: width 3s, height 1s;
}
.cubo:hover{
  transform: rotateY(125deg) rotateX(55deg);
  width: 100px;
  height: 90px;
}
.cubo div{
  position: absolute;
  width: 50px;
  height: 50px;
  background: brown;
}
.cubo div:nth-child(1){
  transform: translateZ(25px);
  background: rgb(206, 172, 172);
}
.cubo div:nth-child(2){
  transform: rotateX(180deg) translateZ(25px);
  background: brown;
}
.cubo div:nth-child(3){
  transform: rotateY(-90deg) translateZ(25px);
  background: brown;
}
.cubo div:nth-child(4){
  transform: rotateY(90deg) translateZ(25px);
  background: brown;
}
.cubo div:nth-child(5){
  transform: rotateX(90deg) translateZ(25px);
  background: brown;
}
.cubo div:nth-child(6){
  transform: rotateX(-90deg) translateZ(25px);
  background: rgb(199, 199, 199);
}
.animacion-wp{
  width: 70px;
  height: 25px;
  font-size:15px;
  font-style: bold;
  background-color: rgb(0, 194, 39);
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-direction: alternate;
}
.animacion-wp:hover{
  background-color:  rgb(17, 83, 17);
}
@keyframes un_efecto{
  0%{
    width: 70px;
  }
  25%{
    width: 100px;
    background-color: linear-gradient(50deg)rgb(17, 83, 17);

  }
  50%{
    width: 90px;
    background-color: linear-gradient(90deg) green ;
  }
  75%{
    width: 110px;
    background-color:linear-gradient(30deg) rgb(93, 202, 93);
  }
  100% {
    width: 70px;
    background-color: green;
  }
}
/*div.animame {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 0, 0, 0.9);
  border: solid 1px;
}
div {
  position: relative;
  left: 200px;
  top: 50px;
}
div:not(.animame) {
  border: solid 1px;
  width: 100px;
  height: 100px;
  left: 207px;
  top: 57px;
}
@keyframes animacion{
   from {}
   to {}
  transform: skewY(25deg);
  border-radius: 50%;
}
/*configuracion inicial */
.animame {/* Animation, valores en orden: name - duration - timingfunction - delay - iterationcount - direction */
animation: animacion 1s linear 3s infinite alternate;
}




header .navbar{
    flex-direction: row;
    height: 10px;

    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
@keyframes aparecer{
  0%{
    opacity: 0;
  }
  50%{
    background-color: rgb(37, 13, 104);
    border-radius: 100%;
  }
  100%{
    opacity: 1;
    background-color:black;
  }
}

h1{
    display:inline;
}
/*.navbar
{
    display: inline;
    position: fixed;
    top:6%;
    justify-items: center;
    left: 1%;
    width: 100%;
    padding: 1rem 2rem;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 25px;
    margin-left: 2rem;
    
}
.navbar{
  list-style: none;
}
/*.navbar li a{
    display:inline-block;
    padding-top: 3%;
    color: rgb(230, 200, 165);
    text-decoration: none;
    text-transform:capitalize;
    background: repeating-linear-gradient(circle, orange 10%, red 5%, gray 40%);
    border-radius: 50px;
    text-shadow:3px -3px black;
}*/
/*CODIGO BASURA
.contenido{
    grid-area: contenido;
    justify-content: center;
}
.title{
    grid-area: title;
    justify-content: center;
}
.navbar{
    grid-area: navbar;
    display: flex;
}
.redes{
    grid-area: redes;
}
.productos{
    grid-area: productos;
}
.publicidad{
    grid-area: publicidad;
}

#footer{
    grid-area:footer;
    justify-content: center;
    margin: 480px;
    background-color: rgb(156, 158, 34);
    text-decoration:overline;
}
.contenido, #footer, .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}*/
   /*GRILLA ACTIVA*/
  /*.contenido .title .publicidad .productos .navbar #footer{
       display: grid;
   }
@media screen and (min-width:320px){
    .container {  display: grid;
        grid-template-columns: 0.1fr 3.6fr 0.4fr;
        grid-template-rows: 1.2fr 7.5fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "title title"
          "contenido"
          "productos"
          " footer";
      }
      
      /*.contenido {  display: grid;
        grid-template-columns: 1fr 1.5fr 4fr;
        grid-template-rows: 2fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "title"
          "contenido "
          "productos"
          "footer";
        grid-area: contenido;
      }*/
     /* .productos{
          grid-area: productos; }
      
      #footer { 
          grid-area: footer;
          flex-direction:row;
          
           
        }
      
      .redes {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px;
        grid-template-areas: 
          "title"
          "redes"
          "contenido"
          "productos"
          "footer"; 
        grid-area: redes;
      }
    .productos{
      transform: translateX(-10%);
    }

      .title {  
          top: 30px;
          display: inline;
          left: 50px;
      }
      
      .navbar { 
        top: 51px;  
        grid-area: navbar;
        justify-content: space-evenly;
     }
     }
        
@media screen and (min-width:1200px) {

    .container {  display: grid;
        grid-template-columns: 0.1fr 3.6fr 0.4fr;
        grid-template-rows: 1.2fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "aside aside aside"
          "title title title"
          "navbar navbar navbar"
          "envoltura" "productos productos productos";
      }
      */
      /*.contenido {  display: grid;
        grid-template-columns: 1fr 1.5fr 4fr;
        grid-template-rows: 2fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . caja-uno"
          ". . .";
        grid-area: contenido;
      }*/
      
      /*CODIGO BASURA
      .footer { grid-area: footer; }
      
      .redes {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px;
        grid-template-areas: 
          ". . ."
          ". . ."
          ". . ."; 
        grid-area: redes;
      }

          
      }
      
      
      .navbar {
           grid-area: navbar; }
      
      
@media only screen and(max-width:768px){
    .container {  display: grid;
        grid-template-columns: 0.1fr 3.6fr 0.4fr;
        grid-template-rows: 1.2fr 7.5fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". title redes"
          ". contenido ."
          ". footer .";
      }
      
      .contenido {  display: grid;
        grid-template-columns: 1fr 1.5fr 4fr;
        grid-template-rows: 2fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . caja-uno"
          ". . .";
        grid-area: contenido;
      }
      
      .caja-uno { grid-area: caja-uno; }
      
      .footer { grid-area: footer; }
      
      .redes {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px;
        grid-template-areas: 
          ". . ."
          ". . ."
          ". . ."; 
        grid-area: redes;
      }

      .title {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          "navbar navbar navbar";

        grid-area: title;
      }
      
      .navbar { grid-area: navbar; }
        
    }

@media only screen and(min-width:1024px){
   
    .container {  display: grid;
        grid-template-columns: 0.1fr 3.6fr 0.4fr;
        grid-template-rows: 1.2fr 7.5fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". title redes"
          ". contenido ."
          ". footer .";
      }
      
      .contenido {  display: grid;
        grid-template-columns: 1fr 1.5fr 4fr;
        grid-template-rows: 2fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . caja-uno"
          ". . .";
        grid-area: contenido;
      }
      
      .caja-uno { grid-area: caja-uno; }
      
      .footer { grid-area: footer; }
      
      .redes {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px;
        grid-template-areas: 
          ". . ."
          ". . ."
          ". . ."; 
        grid-area: redes;
      }

      .title {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          "navbar navbar navbar";

        grid-area: title;
      }
      
      .navbar { grid-area: navbar; }
        
    }

      @media only screen and (min-width: 401px) and (max-width: 960px) {
        .container {  display: grid;
            grid-template-columns: 0.1fr 3.6fr 0.4fr;
            grid-template-rows: 1.2fr 7.5fr 0.3fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              ". title redes"
              ". contenido ."
              ". footer .";
          }
          
          .contenido {  display: grid;
            grid-template-columns: 1fr 1.5fr 4fr;
            grid-template-rows: 2fr 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              ". . ."
              ". . caja-uno"
              ". . .";
            grid-area: contenido;
          }
          
          .caja-uno { grid-area: caja-uno; }
          
          .footer { grid-area: footer; }
          
          .redes {
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr; 
            gap: 0px 0px;
            grid-template-areas: 
              ". . ."
              ". . ."
              ". . ."; 
            grid-area: redes;
          }
    
          .title {  display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              ". . ."
              ". . ."
              "navbar navbar navbar";
    
            grid-area: title;
          }
          
          .navbar { grid-area: navbar; }
            
        }
      */
    /*GITHUB*/