@import './minxisfunc';



.parrafo-animadoindex{
        color:#ffffff;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: .25rem;
        min-width:200px;
        text-decoration: none;
        filter: drop-shadow(16px 16px 20px blue);
        box-shadow: 0 0 0 0 rgba(0, 0, .5);
        animation: aparecer 1.5s infinite;
        background-color: map-get($map: $mapaOportunidades, $key: 2 );
}        
    
@keyframes aparecer{
        0%{
          transform: scale(.99);
          box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
        }
        70%{
          transform: scale(1);
          box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
        }
        0%{
          transform: scale(.99);
          box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
        }
      }

.btn{
    background: linear-gradient(102deg, #172499 40%, #543fd7 60%);
    color: #33d849;
    display: inline-block;
    padding: 1rem 2rem;
    height: 45px;

    border-radius: .25rem;
    min-width:200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, .5);
    animation: pulse 1.5s infinite;
}

@keyframes pulse{
    0%{
      transform: scale(.99);
      box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70%{
      transform: scale(1);
      box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    0%{
      transform: scale(.99);
      box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
  }

//Animaciones section OPORTUNIDADES// 




.iconowp{
  @keyframes pulse{
    0%{
      transform: scale(.99);
      box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70%{
      transform: scale(1);
      box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    0%{
      transform: scale(.99);
      box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
  }
}