$colores00:( 
    "btn" rgb(56, 29, 29)
    "text-1" #478ac9
    "background" #e9f2fa
    "white" #ffffff);



$mapaOportunidades: (
    1: red,
    2: blue,
    3: orange,
    4: pink,
    5: darkgray
                    );
                    
                    
$breakpoints: (
    xs : 0,
    sm : 576px,
    md : 768px,
    lg : 992px,
    xl : 1200px);

              