a{
    text-decoration: none;
}
.titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: size(8);
    width: 100px;
    color: $font-color;
    text-decoration: underline;
    $enable-gradients: 'true';
}

ul{
    list-style: none;
    display: inline-flex;
    gap: 20px;
    width: auto;
    align-items: center;
    li{
        a
        {
            background-color: $font-color;
            border-radius: 35%;
          &:hover{
            box-shadow: $box-shadow;
          }
            
        }
    }
}

.navbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
      
    }




.subOP{
    background-color: white;
    box-shadow: $box-shadow;
    
}

